body, html {
    width: 100;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  header{
    height: 60%;
  }

  header nav {
    width: 100%;
  }
 
  #navegador-container{
    height: 70px !important;
    font-size: 20px;
  }

  .navbar-brand{
    font-size: 20px;
  }

  header .carousel {
    height: 100%;
    margin-bottom: 0;
  }

  header .carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img {
    height: 100%;
  }

  section p{
    line-height: 100px;
    text-align: center;
    background-color: whitesmoke;
    margin: 5px;
    font-size: 30px;
  }

  article {
    background-color: whitesmoke;
  }

  footer {
    height: 10%;
    padding-top: 20px;;
    background-color: #272d34;
    border: 1px solid white;
  }
   
  footer p{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-family: helvetica;
    font-size: 20px;
  }

  